.personagens{
    display: inline-block;
    padding-left: 20px;
}

section{
    padding-top:100px ;
    padding-bottom: 100px;
    text-align: center;
}

section img{
    border:solid 1px rgba(0, 0, 0, 0) ;
    border-radius: 100px;
}

section img:hover{
    border: solid 2px rgb(107, 22, 22);
    border-radius: 100px;
}

section p{
    border:solid 1px black;
    border-radius: 100px;
    text-decoration: none;
}

.nome_personagem, a p{
    color: black;
}

section p:hover{
        border: solid 1px rgb(107, 22, 22);
        border-radius: 100px;
        color: rgb(255, 255, 255);
        background-color: rgb(107, 22, 22);
    }
